<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>02-团购，加载模型，显示基本数据.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E27E06931BDB271F0042CC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27E06AC1BDB271F0042CC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27E06B71BDB271F0042CC5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
