<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>06-抽屉效果-复杂滑动效果01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E25531D51BFD65A700B517AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25531EE1BFD65A700B517AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25531F91BFD65A700B517AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
