<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pracetice01LOL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2A42E5D1BE9CFB4008F8F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2A42E761BE9CFB4008F8F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2A42E811BE9CFB4008F8F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
